@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

.sticky-top {
	width: 100%;
	height: 90px;
	top: 0px;

	position: sticky;
	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid black;
	background-color: white;
}

#source {
	width: 20%;
	height: 100%;
	display: grid;
	place-items: center;
	

	/* border: 1px solid black; */
}

#source > a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}

.sun {
	width: 20%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	/* border: 1px solid black; */
}

.sun-ico {
	width: 80%;
	height: 80%;
}

/* .sun-ico:hover {
	content: url('src/sun1.svg');
} */

.main {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: black;
}

.text-box {
	width: 90%;
	height: 90%;
	padding: 10px;
	
	font-family: 'Roboto', sans-serif;
	color: white;

	border: 2px solid white;
}

.text-box > h1, .text {
	display: grid;
	place-items: center;
	font-size: 70px;
} 
.novel {
	display: grid;
	place-items: center;
	padding: 40px;
	font-size: 25px;
}